<div class="row">
  <div class="col-5" style="pading:0">
    <nb-card>
      <nb-card-header>
        <div class="row no-gutters align-items-center" *ngIf="profile">
          <div class="col-lg-2">
            <img src="{{profile.imageUrl}}" class="img-fluid rounded-circle" width="50px" appImgFallback/>
          </div>
          <div class="col-lg-8">
            <h6 class="pl-3 pr-3 profile">{{profile.userName}}</h6>
          </div>
          <div class="col-lg-2">
            <nb-icon icon="more-vertical-outline" [nbContextMenu]="chatListMenu" nbContextMenuPlacement="left"
                     nbContextMenuTag="chat-list-more"></nb-icon>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <input nbInput fullWidth name="search" placeholder="Search">
      </nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let friend of chatModel " (click)="chatClicked(friend.chatId)">
          <nb-user [name]="friend.userName" [title]="friend.lastMsg" size="giant" [picture]="friend.imageUrl"
                   shape="round" [badgeText]="badgeText"
                   [badgeStatus]="friend.blockedBy == null || friend.blockedBy==0  ? ( friend.status=='ONLINE' ?'success' :'danger'):'danger' "
                   badgePosition="bottom right">
          </nb-user>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <div class="col-7" style="pading:0">
    <router-outlet></router-outlet>
  </div>
</div>
<app-chat-notification></app-chat-notification>
