<div class="row">
  <div class="col-3">
    <div class="rule">
      <div class="rule__content" *ngFor="let prize of prizes;let i = index">
        <div [ngClass]="'rule__color color-' + (i+1) "></div>
        <div class="rule__text">
          {{prize.description}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 item-wheel">
    <div class="wheel">
      <div class="wheel__inner" #wheel__inner>
        <div class="wheel__sec" *ngFor="let prize of prizes">
        </div>
      </div>
      <div class="wheel__arrow">
        <button class="wheel__button" (click)="spin()" [disabled]="!activeBtn">SPIN</button>
      </div>
    </div>
  </div>

  <div class="col-3 div-text-wheel scrollbar">
    <div class="text-wheel">
      <div class="alert alert-success alert-dismissible">
        <strong>Well done!</strong> You successfully
      </div>
      <div class="alert alert-danger alert-dismissible">
        <strong>Oh snap!</strong> Change a
      </div>
      <div class="alert alert-success alert-dismissible">
        <strong>Well done!</strong> You successfully
      </div>
      <div class="alert alert-danger alert-dismissible">
        <strong>Oh snap!</strong> Change a
      </div>
    </div>
  </div>

</div>



