<div id="lucky-wheel">
  <div class="wheel">
    <div class="inner">
      <div class="slice"  *ngFor="let prize of prizes">
        <span class="prize">{{prize.description}}</span>
      </div>
    </div>
  </div>
  <div class="wheel-outer"></div>
  <svg id="svg-dotted" viewBox="0 0 100 100">
    <circle id="circle-dotted" cx="50" cy="50" r="40"/>
  </svg>
  <svg id="svg-arrow" xmlns="http://www.w3.org/2000/svg">
    <path
      style="fill:#ff2e52; stroke:#012e52; stroke-width:4; stroke-linejoin:round"
      d="M 81.540414,49.378716 H 121.51935 L 101.4866,69.420346 Z"
    />
  </svg>
  <button (click)="spin()" [disabled]="activeBtn">SPIN</button>
</div>
