* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://www.yudiz.com/codepen/animation-form/banner.jpg");
    background-size: cover;
    background-position: center;
    min-height: 700px;
    font-family: "Montserrat", sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
}

.box {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #edf3f9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.box::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    transition: all 0.3s ease;
}

.box::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    transition: all 0.3s ease;
}

.box-animation::before {
    animation: animateInputBorder 4s linear infinite;
    animation-delay: -2s;
    background-image: conic-gradient(
            transparent,
            transparent,
            transparent,
            #00ccff
    );
}

.box-animation::after {
    animation: animateInputBorder 4s linear infinite;
    background-image: conic-gradient(
            transparent,
            transparent,
            transparent,
            #d400d4
    );
}

@keyframes animateInputBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box span {
    position: absolute;
    inset: 3px;
    background-color: #edf3f9;
    border-radius: 10px;
    z-index: 2;
}

.box span input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 20px;
    padding: 16px;
    position: relative;
}

.box span input:focus {
    outline: none;
    box-shadow: none;
}

.form-container {
    padding: 70px 0px;
    background-color: #d0deec;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 50%;
    transition: 0.3s;
    min-height: 540px;
    z-index: 2;
    display: inline-flex;
    align-items: center;
}

.left-right .login-form {
    transform: translateX(-100%);
}

.form-wraper .input-group:not(:last-child) {
    margin-bottom: 30px;
}

.signUp-form {
    transform: translateX(100%);
}

.left-right .signUp-form {
    transform: translateX(0%);
}

.form-wraper {
    padding: 0px 40px;
    position: absolute;
    width: 100%;
    transition: 0.3s;
}

.action-button button {
    border-radius: 10px;
    font-family: "Avenir Next";
    font-size: 20px;
    padding: 0.5rem 3rem;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #00ccff, #d400d4);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: none;
    color: #edf3f9;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    transition: all 0.3s ease;
    animation: animate 2s linear infinite;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
}

.action-button button:hover {
    color: rgb(20, 20, 20);
    box-shadow: 2px 1000px 1px #edf3f9 inset;
    cursor: pointer;
}

.form-title {
    margin-bottom: 30px;
}

.main-form-container {
    min-width: 800px;
    background-color: rgba(0, 0, 0, 0.152);
    border-radius: 10px;
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
}

.bg-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.left-right {
    transform: translateX(100%);
}

.section {
    min-height: 800px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#google,
#github,
#facebook {
    font-size: 3em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 20px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}

#google {
    animation-delay: 0.3s;
}

#facebook {
    animation-delay: 0.7s;
}

#github {
    animation-delay: 0.1s;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.rain {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.rain.back-row {
    display: none;
    z-index: 0;
    bottom: 60px;
    opacity: 0.5;
}

body.back-row-toggle .rain.back-row {
    display: block;
}

.drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0s linear infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0vh);
    }
    75% {
        transform: translateY(90vh);
    }
    100% {
        transform: translateY(90vh);
    }
}

.stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(14, 13, 13, 0.25), rgba(14, 13, 13, 0.25));
    animation: stem 0.5s linear infinite;
}

@keyframes stem {
    0% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.2;
    }
}

.splat {
    width: 15px;
    height: 10px;
    border-top: 2px dotted rgba(14, 13, 13, 0.25);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: splat 0.5s linear infinite;
    display: none;
}

body.splat-toggle .splat {
    display: block;
}

@keyframes splat {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    80% {
        opacity: 1;
        transform: scale(0);
    }
    90% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.5);
    }
}

.error-login {
    color: red;
}



